version: "3.7"
services:
  application:
    image: ${IMAGE_DEV}
    container_name: ${APP_NAME}-dev
    restart: on-failure
    working_dir: /go/src/${APP_HOME}
    environment:
      - APP_ENV=development
    volumes:
      - ../:/go/src/${APP_HOME}
      - gopkg:/go/pkg/
      - gobin:/go/bin/
    command: ['tail', '-f', '/dev/null']
    networks:
      application:

volumes:
  gopkg:
    name: ${APP_NAME}-gopkg
  gobin:
    name: ${APP_NAME}-gobin

networks:
  application:
    name: ${APP_NAME}-network
